<header class="clearfix">
    <div class="logo pull-left">
        <img src="assets/images/emblem.png" />
    </div>
    <div class="logo pull-right">
        <img src="assets/images/emblem.png" />
    </div>
    <div class="text-center headerText">
        National Health Mission
        <small>Decesion Support System</small>
    </div>

</header>
<nav>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/user-management">User Management</a></li>
        <li><a href="#">Reports</a></li>
    </ul>
</nav>
