<div class="sidebar p-15">
    <div class="row">
        <div class="col-12">
            <h5>Select Hierarchy</h5>
        </div>
        <div class="col-12">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">State</label>
                <select class="form-select">
                    <option selected>Select</option>
                  </select>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">District</label>
                <select class="form-select">
                    <option selected>Select</option>
                  </select>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Block</label>
                <select class="form-select">
                    <option selected>Select</option>
                  </select>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Facility Type</label>
                <select class="form-select">
                    <option selected>Select</option>
                  </select>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Facility</label>
                <select class="form-select">
                    <option selected>Select</option>
                  </select>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Financial Year</label>
                <select class="form-select">
                    <option selected>Select</option>
                </select>
            </div>
        </div>
        <div class="col-12 d-grid">
            <button type="button" class="btn btn-primary btn-block">Submit</button>
        </div>
    </div>
</div>
