<div class="wrapper clearfix">
  <app-sidebar></app-sidebar>
  <div class="main">
    <app-header></app-header>
      <div class="mainContent">
          <!-- upper boxes -->
          <div class="row">
              <div class="col-md-4">
                  <div class="dashBox color1">
                      <div class="infoName">CHO Registered</div>
                      <div class="infoNumber">{{dashboardData.totalCho}}</div>
                      <span class="icon fa fa-user-md"></span>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="dashBox color2">
                      <div class="infoName">Child Services</div>
                      <div class="infoNumber">{{dashboardData.totalChild}}</div>
                      <span class="icon fa fa-child"></span>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="dashBox color3">
                      <div class="infoName">Mother Services</div>
                      <div class="infoNumber">{{dashboardData.totalMother}}</div>
                      <span class="icon fa fa-female"></span>
                  </div>
              </div>
          </div>


          <div class="row m-t-20">
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title head clearfix">Mother</h5>
                          <canvas baseChart *ngIf="motherChartLabels"
                          [datasets]="motherChartData"
                          [labels]="motherChartLabels"
                          [options]="barChartOptions"
                          [legend]="false"

                          [chartType]="lineChartType"
                          [plugins]="lineChartPlugins">
                  </canvas>
                          <!-- <canvas id="barChart" class="dashchart"></canvas> -->
                      </div>
                  </div>
              </div>
              <br>
              <br>
              <div class="col-md-6">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title head clearfix">CHO</h5>
                          <canvas baseChart *ngIf="barChartLabels"
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [colors]="barColors"
                          [chartType]="barChartType">
                  </canvas>
                          <!-- <canvas id="barChart" class="dashchart"></canvas> -->
                      </div>
                  </div>
              </div>


              <div class="col-md-6" style="margin-top: 20px;">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title head clearfix">Child</h5>
                          <canvas baseChart
                          [datasets]="lineChartData"
                          [labels]="lineChartLabels"
                          [options]="lineChartOptions"
                          [colors]="lineChartColors"
                          [legend]="lineChartLegend"
                          [chartType]="lineChartType"
                          [plugins]="lineChartPlugins">
                      </canvas>
                          <!-- <canvas id="lineChart" class="dashchart"></canvas> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
